<div class="container">
	

	<div class="row">
    	<div class="span6">
    		<div class="well"> 
    			 <address>
				    <strong>Sunrise Farms</strong><br>
				    1455 Dalton Ave<br>
				    Cincinnati, OH 45214<br>
				    <abbr title="Phone">Office Phone:</abbr> (513) 621-2636
				    <abbr title="Phone">Fax:</abbr> (513) 621-6979
			    </address>
     
    <address>
    <strong>Danny Rehage</strong><br>
    <a href="mailto:#">drehageqb5@aol.com</a>
    </address>   			    
    		</div>
    	</div>
    	<div class="span6">
    		<div class="well">    			
				    <h4>
				    	<p>We are open Monday-Saturday</p>
				    	<p>We offer free delivery to Kentucky, Ohio, and Indiana
				    </h4>
    		</div>
    	</div>
    </div>
</div>