<div class="container">
  <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= link_to "Products", products_path %></li>
          <li><a href="#">Company Bio</a></li>
          <li><a href="#">Company History</a></li>                  
          <li><a href="#">Contact</a></li>
        </ul>
        <%= image_tag("sunrise_logo_small.png", :alt => "test") %>
      </div>

      <hr>
</div>