<div class="container">
  <div class="eggs"><%= image_tag("sunrise_logo_small.png", :alt => "test") %></div>
  <div class="masthead">
          
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Products</a></li>
                  <li><a href="#">Company Bio</a></li>
                  <li><a href="#">Company History</a></li>                  
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div><!-- /.navbar -->
  </div>
</div>